{% include 'head.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>
    <link rel="stylesheet" href="/static/css/registrations.css">
</head>
<body>
     <div class="container">
          <div class="card">
               <form action="customer_registration_action" method="post">
                    <div class="text">Customer Registration</div>
                    <div class="form">
                         <div class="form-item">
                              <label for="first_name" class="label">First Name: </label><br>
                              <input type="text" id="first_name"  name="first_name" class="input" placeholder="Enter Name" required>
                         </div>
                         <div class="form-item">
                              <label for="last_name" class="label">Last Name: </label><br>
                              <input type="text" id="last_name"  name="last_name" class="input" placeholder="Enter Name" required>
                         </div>
                         <div class="form-item">
                              <label for="phone" class="label">Phone Number: </label><br>
                              <input type="number" id="phone"  name="phone" class="input" placeholder="Enter Phone Nuber" required>
                         </div>
                         <div class="form-item">
                              <label for="email" class="label">Email: </label><br>
                              <input type="email" id="email"  name="email" class="input" placeholder="Enter Email" required>
                         </div>
                         <div class="form-item">
                              <label for="password" class="label">Password: </label><br>
                              <input type="password" id="password"  name="password" class="input" placeholder="Enter Password" required>
                         </div>
                         <div class="form-item">
                              <label for="conform_password" class="label">Conform Password: </label><br>
                              <input type="password" id="conform_password"  name="conform_password" class="input" placeholder="Enter Password" required>
                         </div>
                         <div class="form-item">
                              <label>Locations: </label><br>
                              <select name="location_id" class="input" required>
                                   <option value="">Choose location</option>
                                   {% for location in locations %}
                                   <option value="{{location['_id']}}">{{location['location_name']}}</option>
                                   {% endfor %}
                              </select>
                         </div>
                         <div class="form-item">
                              <label>State: </label><br>
                              <select name="state" class="input" required>
                                   <option value="">Choose State</option>
                                   <option value="andhra_pradesh">Andhra Pradesh</option>
                                   <option value="telangana">Telangana</option>
                                   <option value="tamil_nadu">Tamil Nadu</option>
                              </select>
                         </div>
                         <div class="form-item">
                              <label for="address" class="label">Address: </label><br>
                              <textarea id="address"  name="address" class="input" placeholder="Enter Address" required></textarea>
                         </div>
                    </div>
                    <input type="submit" class="button" value="Register">
               </form>
          </div> 
     </div>
</body>
</html>