<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer</title>
    <link rel="stylesheet" href="/static/css/ahome_head.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="nav">
        <div><img src="/static/images/image.png" class="logo" alt="" /></div>
        <ul>
          <li><a href="/customer_home">Home</a></li>
          <li><a href="/view_menu">Menu</a></li>
          <li><a href="/view_order?view_type=cart">Carts</a></li>
          <li><a href="/view_order?view_type=processing">Orders</a></li>
          <li><a href="/view_order?view_type=history">Order History</a></li>
          <li><a href="/customer_logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
