{% include 'head.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery Boy Login</title>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="container-item w-30">
        <div class="card1">
          <form action="delivery_boy_login_action" method="post">
            <div class="text">Delivery Boy Login</div>
            <div class="input-text">
              <div>
                <label for="email" class="label">Email: </label><br />
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="input"
                  placeholder="Enter Email"
                  required
                />
              </div>
              <div>
                <label for="password" class="label">Password: </label><br />
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="input"
                  placeholder="Enter Password"
                  required
                />
              </div>
            </div>
            <input type="submit" class="button" value="Login" />
          </form>
          <div class="register_link">
            New to website?
            <a href="delivery_boy_registration" class="link">Register Now</a>
          </div>
        </div>
      </div>
      <div class="container-item w-60">
        <div class="card2" style="margin-top: 40px">
          <img
            src="https://assets-v2.lottiefiles.com/a/c8344bce-116f-11ee-bbd9-eb38eca3030d/xyQbAf4KYU.gif"
            class="img"
          />
        </div>
      </div>
    </div>
  </body>
</html>
