<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/ahome_head.css">
</head>
<body>
    <div class="navbar">
        <div class="nav">
            <div><img src="/static/images/image.png" class="logo" alt=""></div>
            <ul>
                <li><a href="/admin_home">Home</a></li>
                <li><a href="/food_categories">Food Categories</a></li>
                <li><a href="/food_sub_categories">Food Sub Categories</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/restaurant_types">Restaurants Type</a></li>
                <li><a href="/view_restaurants">Restaurants</a></li>
                <li><a href="/view_customers">Customers</a></li>
                <li><a href="/view_delivery_boy">Delivery Boy</a></li>
                <li><a href="/admin_logout">Logout</a></li>
            </ul>
        </div>
    </div>

</body>
</html>