{% include 'home_head.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Delivery Boy</title>
    <link rel="stylesheet" href="/static/css/view.css">
</head>
<body>
    <div class="container-view">
        {% for delivery_boy in delivery_boys %}
        {% set locations = get_location_by_location_id(delivery_boy['location_id'])%}
        <div class="container-item">
            <div class="card">
                <div class="card-item">
                    <div class="card-label">
                        Delivery Boy Name:
                    </div>
                    <div class="card-text">
                        {{delivery_boy['name']}}
                    </div>
                    <div class="card-label">
                        Email:
                    </div>
                    <div class="card-text">
                        {{delivery_boy['email']}}
                    </div>
                    <div class="card-label">
                        Phone Number:
                    </div>
                    <div class="card-text">
                        {{delivery_boy['phone']}}
                    </div>
                    <div class="card-label">
                        Location:
                    </div>
                    <div class="card-text">
                        {{locations['location_name']}}
                    </div>
                    <div class="card-label">
                        Address:
                    </div>
                    <div class="card-text">
                        {{delivery_boy['address']}}
                    </div>
                    <div class="card-label">
                        Status:
                    </div>
                    <div class="card-text">
                        {{delivery_boy['status']}}
                    </div>
                    {% if delivery_boy['status'] == "Not verified" %}
                    <div class="input">
                        <a href="verify_delivery_boy?delivery_boy_id={{delivery_boy['_id']}}">Verify</a>
                    </div>
                    {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>